[submodule "submodules/spdlog"]
	path = submodules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "submodules/Catch2"]
	path = submodules/Catch2
	url = https://github.com/catchorg/Catch2.git
